// This is a valid Zephyr DTS overlay for the nice_nano_4x6 shield

/ { 
    compatible = "zmk,zmkshield";
};

zmk,kscan-gpio-matrix {
    diode-direction = <row2col>;
    row-gpios = <&gpio0 31>, <&gpio0 29>, <&gpio0 2>, <&gpio1 15>, <&gpio1 13>, <&gpio1 11>;
    col-gpios = <&gpio0 10>, <&gpio0 9>, <&gpio1 6>, <&gpio1 4>;
};

&ec11 {
    a-gpios = <&gpio0 11>;
    b-gpios = <&gpio1 0>;
    steps = <24>;
};

&underglow {
    compatible = "ws2812";
    gpios = <&gpio0 22>;
    chain-length = <10>;
    rgb-format = <GRB>;
};
