name: Build

on:
  push:
    branches:
      - initial-zmk-config
  pull_request:
    branches:
      - initial-zmk-config

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build and test
        run: |
          echo 'Building...'

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: output-directory/